/* 关于南西样式 */

/* 学校简介 */
.situation {
    width: 1400px;
    height: 367px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

.row {
    width: 1400px;
    margin: auto;
    overflow: hidden;
}

.situation-img {
    width: 600px;
    height: 400px;
    float: left;
}

.situation-img img {
    width: 85%;
    height: 65%;
    float: right;
    box-shadow: 0 0 7px 7px #eee;
}


.situation-news {
    width: 650px;
    min-height: 310px;
    background: #5c65cd;
    float: right;
    margin-right: 140px;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
    padding: 15px;
    line-height: 1.5em;
}

/*  校长致辞   */
.president {
    width: 100%;
    height: 45%;
    margin: 0 auto;
    margin-top: 112px;
    position: relative;
    background: url(../images/about_us_bg.jpg);
}

.president-title {
    height: 150px;
}

.president-news {
    width: 100%;
    height: 500px;
}

.president-left {
    width: 700px;
    min-height: 500px;
    float: left;
}

.president-left-1 {
    width: 500px;
    /*height: 400px;*/
    color: #FFFFFF;
    margin-top: 50px;
}

.president-left-2 {
    width: 200px;
    float: right;
    margin-bottom: 20px;
    margin-right: 40px;
}

.president-left-2 img {
    float: right;
}

.president-news-img {
    width: 300px;
    height: 150px;
    margin-left: 50px;
}

.president-news-img img {
    width: 100%;
    height: 100%;
}

.president-new1 {
    font-size: 14px;
    margin: 10px 50px;
    text-align: justify;
    line-height: 1.5em;
}

.president-right {
    width: 700px;
    min-height: 500px;
    float: right;
}

.president-right-1 {
    width: 500px;
    /*height: 400px;*/
    color: #FFFFFF;
    margin-top: 50px;

}


.president-new2 {
    font-size: 14px;
    margin: 10px 50px;
    text-align: justify;
    line-height: 1.5em;
}


/* 企业文化 */
.corporate {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    position: relative;

}

.corporate_news {
    width: 100%;
    height: 500px;
    background: url(../images/企业文化.jpg);
    background-size: 100%;
    background-position: center;
    margin-bottom: 100px;
}

.corporate_news_left {
    width: 700px;
    height: 500px;
    float: left;
}

.corporate_new_2 {
    width: 300px;
    height: 160px;
    margin-right: 80px;
    float: right;
    margin-top: 100px;
    text-align: right;
}

.corporate_new_4 {
    width: 300px;
    height: 160px;
    margin-left: 320px;
    margin-top: 300px;
    text-align: right;
}

.corporate_news_right {
    width: 700px;
    height: 500px;
    float: right;
}

.corporate_new_1 {
    width: 300px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: left;
}

.corporate_new_3 {
    width: 300px;
    height: 100px;
    margin-left: 50px;
    margin-top: 80px;
    text-align: left;
}

.corporate_new_5 {
    width: 300px;
    height: 100px;
    margin-left: 50px;
    margin-top: 80px;
    text-align: left;
}

.corporate_p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.corporate_h2_l {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #e823a5;
}

.corporate_h2_r {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #5c65cd;
}


@media screen and (max-width: 1024px) {
    #container {
        min-width: 1000px;
        overflow-x: hidden;
    }

    .situation {
        width: 1000px;
    }

    .situation-img {
        width: 400px;
        height: 300px;
    }

    .situation-news {
        width: 600px;
        margin-right: 0;
    }

    .row {
        width: 1000px;
    }

    .president-left {
        float: none;
        margin: auto;

    }

    .president-right {
        float: none;
        margin: auto;
    }

    .corporate {
        width: 1000px;
    }


}